$primary-color: #2274f0;
$background-color-light: rgb(255, 253, 246);
$background-color-dark: rgb(29,162,216);

.map-option {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1em 0;
    background-color: $background-color-light;
    border: 3px solid rgb(170, 170, 170);  
    border-radius: 10px;

    .map-toggleCounty,
    .submit-selection {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .map-selection {    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        select {
            padding: 5px;
            margin: 5px;
            border-radius: 5px;
            font-size: 14px;
        }
    }

    .submit-selection {
        .locate-btn {
            .location_dot {
                color: rgb(233, 88, 88);
            }
        }
    }
  
    div button {
        cursor: pointer;
        outline: 0;
        display: inline-block;
        font-weight: bold;    
        line-height: 1.5;
        text-align: center;
        background-color: transparent;
        border: 2px solid transparent;
        padding: 6px 12px;
        font-size: 1em;
        border-radius: .25rem;
        transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
        color: $primary-color;
        border-color: $primary-color;
        margin-right: 5px;

        &.showCity-class {
            color: #fff;
            background-color: $primary-color;
            border-color: $primary-color;
        }

        &:hover {
            color: #fff;
            background-color: $primary-color;
            border-color: $primary-color;
        }
    }
}
  
.map-canvas svg {
    background-color: $background-color-dark;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-shadow:1px 1px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 100%;
    display: block;
    height: 100vh;

    @media screen and (max-width:768px) {
        height: 100%;
    }

    .country-container .counties path {
        stroke-width: 1%;
    }
}

#fixedDiv {
    position: relative;
    bottom: 2.5em;
    left: 0.5em;

    button {
        cursor: pointer;
        margin: 1px;
    }
}

@media screen and (max-width: 768px) {
    div button {
        font-size: 1em;
    }
}

@media screen and (max-width: 576px) {
    div button {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 425px) {
    div button {
        font-size: 0.5em;
    }
}
