
$primary-color: #2274f0;
$secondary-color: #fff;

.weatherChart_style {
    margin: 10px 0;   


    // Chart container
    .div-chart {
        width: 100%;
        background-color: $secondary-color;
        overflow-x: auto;
        .chart-body{
            height: 500px;
        }
    }

    // Selector buttons
    .div-selector {
        display: flex;
        align-items: stretch;
        justify-content: center;

        button {
            flex: 1;
            min-height: 60px;
            width: 100%;
            background-color: $secondary-color;
            color: $primary-color;
            border: 1px solid #dcdcdc;
            padding: 0.5rem;
            font-size: 1em;
            font-weight: bold;
            cursor: pointer;

            &.chart-type-class {
                color: $secondary-color;
                background-color: $primary-color;
                border-color: $primary-color;
            }

            &:hover {
                background-color: $primary-color;
                color: $secondary-color;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .div-selector {
            button {
                font-size: 1em;
            }
        }
    }

    @media screen and (max-width: 576px) {
        .div-selector {
            button {
                font-size: 0.875em;
            }
        }
    }

    @media screen and (max-width: 425px) {
        .div-selector {
            button {
                font-size: 0.5em;
            }
        }
    }
}
