.div-table {
    overflow-x: auto;
    max-width: 100%;
    background-color: #f2f2f2;
    border-radius: 0 0 10px 10px;

    &::-webkit-scrollbar {
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgb(70, 70, 70);
        border-radius: 0 0 10px 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0 0 10px 10px;
        background-color: rgb(177, 177, 177);
    }

    .week-predict-weather-table {
        width: 100%;
        white-space: nowrap;
        box-sizing: border-box;
        border-collapse: collapse;
        font-size: 1em;

        th{
            padding: 10px 20px;
            border: 1px solid rgb(220, 220, 220);
            color: #ffffff;
        }

        .weekTime {
            background-color: rgb(40, 190, 72);
        }

        .weekDate{
            background-color: rgb(84, 169, 104);

        }

        .timeTitle,
        .dateTitle,
        .weather-title {
            position: sticky;
            left: 0;
            z-index: 2;
        }

        .timeTitle {
            background-color: rgb(38, 173, 174);
        }

        .dateTitle{
            background-color: rgb(29, 132, 132);
        }

        .weather-title {
            color: rgb(22, 50, 175);
            background-color: #ffffff;
        }

        td {
            padding: 10px;
            text-align: center;
            vertical-align: middle;
            border: 1px solid rgb(220, 220, 220);
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:nth-child(odd) {
            background-color: #ffffff;
        }

        .Wx img {
            max-width: 20px;
            max-height: 20px;
        }

        @media screen and (max-width: 768px) {
            font-size: 0.75em;
        }

        @media screen and (max-width: 576px) {
            font-size: 0.5em;

            .timeTitle,
            .weather-title {
                padding: 5px;
            }
        }

        @media screen and (max-width: 425px) {
            font-size: 0.25em;
        }
    }

    @media screen and (max-width: 425px) {
        display: none;
    }

    @media screen and (min-width: 426px) {
        display: block;
    }
}

.div-table-small {
    display: none;

    .week-predict-weather-table-small {
        width: 100%;
        margin-bottom: 2px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
        padding: 2px;
        margin-bottom: 5px;

        &:nth-child(even) {
            background-color: #ffffff;
            border: 1px solid #000;
        }

        &:nth-child(odd) {
            background-color: #fffcf5;
        }

        thead {
            font-size: 12px;
            text-decoration: underline;
        }

        tbody {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 5px;

            .weather-data-element {
                width: 50%;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                font-size: 10px;

                th {
                    white-space: nowrap;
                    color: #0f7b8c;
                }

                img {
                    max-width: 20px;
                    max-height: 20px;
                }
            }
            .weather-data-element:nth-child(odd) {
                clear: left;
            }

            @media screen and (max-width: 400px) {
                flex-direction: column;
                .weather-data-element {
                    width: 100%;
                }
            }
        }
    }

    @media screen and (max-width: 425px) {
        display: block;
    }
}
