
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

html, body {
    font-family: 'NotoSan',sans-serif;
    background-color: rgb(255, 253, 246);
    margin: 0;
    padding: 0;
    height: 100%;
    
}

.app{
    margin-top: 0;
    height: 100%;
}

